{% set conn = ipsec_conn_defaults|combine(item) %}
{% set my_ca=my_ipsec_cas|selectattr('name','==',conn.ca)|list|first %}
{% macro gen_id(prefix,hostname) -%}
{{prefix ~ ", CN=" ~ hostname}}
{%- endmacro %}
{% macro connparams(left,right,tunnel) %}
conn {{conn.name}}
	authby={{conn.authby}}
	auto={{conn.auto}}
	esp={{conn.crypto.esp }}
	ike={{conn.crypto.ike }}
	keyexchange=ikev2
	mobike={{conn.mobike|ternary('yes','no')}}
	compress={{conn.compress|ternary('yes','no')}}
	fragmentation={{conn.fragmentation|ternary('yes','no')}}
{% if conn.life is iterable %}
#	{{conn.life.comment}}
	lifebytes={{conn.life.bytes}}
	lifepackets={{conn.life.packets}}
	lifetime={{conn.life.time}}
{% endif %}
{% if conn.margin is iterable %}
#	{{conn.margin.comment}}
	marginbytes={{conn.margin.bytes}}
	marginpackets={{conn.margin.packets}}
	margintime={{conn.margin.time}}
{% endif %}
	type={{conn.type}}
	left={{left.name}}
{% if 'cert' in left %}
	leftcert={{left.cert}}
{% endif %}
	leftid="{{left.id}}"
	right={{right.name}}
{% if 'cert' in right %}
	rightcert={{right.cert}}
{% endif %}
	rightid="{{right.id}}"
{% if tunnel %}
{%   if 'left' in tunnel %}
{%     if 'subnet' in tunnel.left %}
	leftsubnet={{tunnel.left.subnet|join(',')}}
{%     endif %}{% if 'sourceip' in tunnel.left %}
	leftsourceip={{tunnel.left.sourceip}}
{%     endif %}
{%   endif %}
{%   if 'right' in tunnel %}
{%     if 'subnet' in tunnel.right %}
	rightsubnet={{tunnel.right.subnet|join(',')}}
{%     endif %}{% if 'sourceip' in tunnel.right %}
	rightsourceip={{tunnel.right.sourceip}}
{%     endif %}
{%   endif %}
{% endif %}

{% endmacro %}
{% macro connparams_swap(left,right,swap,tnl) %}
{% if swap %}
{{   connparams(right,left,{'right':tnl.left,'left':tnl.right}) }}
{% else %}
{{   connparams(left,right,{'right':tnl.right,'left':tnl.left}) }}
{% endif %}
{% endmacro %}


{% if inventory_hostname is inoreq  conn.left %}
{%   if 'tunnel' in conn and 'left' in conn.tunnel %}
{%     set tnl = conn.tunnel.left %}
{%   else %}
{%     set tnl = {} %}
{%   endif %}
{%   for r in (conn.right is string)|ternary([conn.right],conn.right) %}
{{     connparams({'name': inventory_hostname,
         'cert': my_ca.name ~ "-cert.der",
         'id': gen_id(my_ca.id_prefix, inventory_hostname)},
         {'name':r, 'id': gen_id(my_ca.id_prefix,r) },tnl) }}
{%   endfor %}
{% else %}
{%   if 'tunnel' in conn and 'right' in conn.tunnel %}
{%     set tnl = conn.tunnel.right %}
{%   else %}
{%     set tnl = {} %}
{%   endif %}
{%   for l in (conn.left is string)|ternary([conn.left],conn.left) %}
{{     connparams_swap({'name': l, 'id': gen_id(my_ca.id_prefix,l)},
         {'name': inventory_hostname, 'cert': my_ca.name~"-cert.der",
         'id': gen_id(my_ca.id_prefix,inventory_hostname)}, True, tnl) }}
{%   endfor %}
{% endif %}
